@model GeoSearch.WebUI.Controllers.GeoLocation

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindFriends</title>
</head>
<body>
<div>

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(s => s.Coordinates)
        @Html.TextBoxFor(s=>s.Radius)
        <input type="submit" value="Submit" />
    }
    @if (@Model.Users != null)
    {
        foreach (var item in @Model.Users)
        {
            <a href="@item.Link">@item.FirstName @item.LastName</a><br />
        }
    }
</div>
</body>
</html>
